.pan rect,
.zoom rect {
    fill: black;
    opacity: 0.2;
}
.zoom rect {
    rx: 5;  /* Rounded corners */
    ry: 5;
}
.pan text,
.zoom text {
    fill: black;
    font-size: 18px;
    text-anchor: middle;
}
.pan:hover rect,
.pan:hover text,
.zoom:hover rect,
.zoom:hover text {
    fill: blue;
}
h2 {
    margin: 50px;
}
#pcBox {
    position: relative;
    margin-top: 30px;
}

#map {
    position: relative;
    display: inline-block;
    margin: auto;
}
#table {
    font-size: 11pt;
    text-align: left;
    position: absolute;
    display: inline-block;
    top: 50px;
    left: 900px;
    width: auto;
    margin: 100px;
}
#intro {
    clear: both;
    position: relative;
    width: 800px;
}
#data {
    font-size: 8pt;
    width: 800px;
}
*{
    text-align: center !important;
    margin: auto !important;
    font-family: 'PT Sans Narrow', sans-serif;
}
